// you can change colors here
$theme-color: #60a5fa;

// change fonts to korean supported fonts
$font-family: '"Noto Sans KR", sans-serif';
$font-family-fancy: '"Noto Serif KR", serif';
$font-family-code: '"Nanum Gothic Coding", monospace';
