// you can change colors here
$theme-color: #2196f3;

// change fonts to korean supported fonts
$font-family: '"Noto Sans KR", sans-serif';
$font-family-heading: '"Noto Sans KR", sans-serif';
$font-family-mono: '"Nanum Gothic Coding", monospace';
$font-family-fancy: '"Noto Serif KR", serif';
$font-family-code: '"Nanum Gothic Coding", monospace';
